@font-face {
	font-family:montserrat_regular;
	src: url(fonts/Montserrat-Regular.ttf);
	src: local("Montserrat-Regular"), url(fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family:montserrat_medium;
	src: url(fonts/Montserrat-Medium.ttf);
	src: local("Montserrat-Medium"), url(fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family:montserrat_exbold;
	src: url(fonts/Montserrat-ExtraBold.ttf);
	src: local("Montserrat-ExtraBold"), url(fonts/Montserrat-ExtraBold.ttf);
}
/*
@font-face {
	font-family:avantgardemediumbt;
	src: url(fonts/avantgardemediumbt.ttf);
	src: local("avantgardemediumbt"), url(fonts/avantgardemediumbt.ttf);
}
*/
textarea:focus, input:focus, [type=submit]:not(:disabled), button:not(:disabled){
    outline: none;
}
*:focus {
    outline: none;
}
#outer-container {
	/*width: 1000px;
	height: 800px;
	padding: 0px 5px 5px 5px;
	margin: auto;*/
	background: none repeat scroll 0 0 #fff;
	/* position: relative;
	background: #fff url(../images/bg_img_2.jpg) no-repeat;
	background-size: cover; */
	height: 100%;
	/*border-top: 10px solid #9cb23b;*/
}

#main-container {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	padding: 0;
	margin: 0;
}
/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section {
	display:block;
}
input:-internal-autofill-selected {
background-color: none !important;
}
body {
	font-family: 'Montserrat', sans-serif,  arial;
	background-color:  transparent !important;
	height: 100%;
	color: #444;
	margin: 0;
	padding: 0;
	text-align: center;
	font-style: normal !important;
	-ms-zoom: 100%;
}

/*
body {
	font-family: "Avant_Garde_Gothic_Demibold", Arial, sans-serif;
	background-color:  transparent !important;
	height: 100%;
	color: #444;
	margin: 0;
	padding: 0;
	text-align: center;
	font-style: normal !important;
	-ms-zoom: 100%;
}
*/
p {
	padding: 0 0 16px 0;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6 {
	color: #555;
	padding: 0 0 5px 0;
}
h1, h2, h4 {
	font: normal 200% "avantgarde", arial, sans-serif;
	text-shadow: 1px 1px #FFF;
	margin: 0 0 15px 0;
	padding: 15px 20px 5px 0;
	color: #E5017D;
}
h2 {
	font: normal 150% arial, sans-serif;
}
h4 {
	font: normal 170% "avantgarde", arial, sans-serif;
	padding: 5px 20px 5px 0;
	margin: 0;
	color: #80E804;
}
h3 {
	color: #444;
	padding: 10px 0 5px 0;
	font: normal 170% arial;
}
h5 {
	color: #888;
	font: italic 95% arial;
	letter-spacing: normal;
	padding: 0 0 15px 0;
}
h6 {
	padding: 5px 0 25px 0;
}
img {
	border: 0;
}
a, a:hover {
	outline: none;
	color: #20BFD4;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
blockquote {
	margin: 20px 0 20px 0;
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #F5F5F1;
}
ul {
	margin: 2px 0 17px 16px;
}
ul li {
	list-style-type: square;
	margin: 0 0 6px 0;
	padding: 0 0 0 8px;
}
ol {
	margin: 2px 0 0 24px;
}
ol li {
	margin: 0 0 6px 0;
}
.left {
	float: left;
	width: auto;
	margin-right: 10px;
}
.right {
	float: right;
	width: auto;
	margin-left: 10px;
}
.center {
	display: block;
	text-align: center;
	margin: 20px auto;
}
.highlightGreen{
color: #9db32c;
}
#main, header, #logo, nav, #site_content, footer {
	/* margin-left: auto; */
	/* margin-right: auto; */
}

img.bg-image{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 10px solid #9cb23b;
}
header {
	/*float: left;
    height: 60px;
    width: 100%;*/
    text-align: right;
}

header h3  {
	font-family: 'Arial Bold',sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	letter-spacing:.2px;
	cursor: pointer;
	font-weight: bold;
        padding: 10px 15px;
}

header h3:hover{
	color: #9cb23b;
}

header img.separator{
	display: inline;
	margin: 0 6px;
}

#logo {
display: inline-block;
    float: left;
    width: 95px;
    height: auto;
}
div#logo img {
    width: 100%;
    height: 100%;
}
#logo a {
	  left: 60px;
    position: relative;
    top: 53px;
}
.header-section {
    padding: 40px 0px;
    overflow: hidden;
}
nav {
	float:left;
	height: 30px;
}
nav ul {
	display:inline;
	list-style-type:none
}
nav li {
	background-repeat:no-repeat;
	background-position:right top;
	display: inline;
	height: 30px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
}
nav li:last-child {
	background:none;}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
nav li a:hover {
	color:#98cb00
}
.sidebar-menu {
    width: 500px;
    margin: 0 auto;
    display: none;
     transform:translateX(10%);
}
.flt {
	float:left;
}
div#main {
    height: 100%;
}
ul#sidemenu-fixed {
    padding: 0px 15px;
    display: block !important;
    width: 100% !important;
    float: none !important;
    margin: 20px 0px;
}
.menubg {
        background-color: rgba(255, 255, 255, 0.71);
    /*width: 500px !important;*/
    margin: 0 auto 100px;
    height: 100% !important;
    /*padding-bottom: 40px;*/
}
.menu {
	float:left;
	clear:left;
	font-size:11px;   margin: 0;
    padding: 0;
}
.menu li {
	list-style:none;
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
}
.menu a, .menu a:visited {
	color: #323233 !important;
    display: block;
    font: 220%/28px "avantgardemediumbt", arial, sans-serif;
    height: 50px;
    margin: 20px 0px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 373px;
    text-align: left;
    letter-spacing: 0;
    border: 1px solid #fbfbfb;
    background: #bdbdc1;
    border-radius: 2px;
    box-shadow: 0 0 5px #a79e9e;
}

.menu a:hover, .menu a:active, .menu li.current_page_item a, .menu li.current_page_item a:visited {
	/*background:url(../images/box-plus-black-hover.PNG) no-repeat;*/
	text-decoration:none; 
}

ul#sidemenu-fixed li:last-child a {
    margin: 0px;
}
ul#sidemenu-fixed li a:after {
    content: '+';
    color: #323233;
    text-align: right;
    display: inline;
    float: right;
    margin-right: 10px;
    font-weight: 800;
}

ul#sidemenu-fixed li a.box-header:after {
    content: '-' !important;
color: #323233;
    text-align: right;
    font-size: 54px;
    display: inline;
    font-weight: normal !important;
    float: right;
    margin-right: 10px;
}
/**************Login*************/
fieldset{ border:none}
#login-box{
	margin: 10px auto;
    width: 100%;
	
}

form.signin .textbox label {
    display: inline-block;
    float: left;
    padding-bottom: 7px;
color: #393d48;
}
div#login-box p {
   clear: both;
    font-family: "avantgardemediumbt", sans-serif;
    letter-spacing: 0.1em;
    line-height: 24px;
}

p#login-bottom3 {
       padding: 10px 0;
    margin-bottom: 0px;
}
p#login-bottom3 a {
 color: #393d48;
}
form.signin .textbox span {
    display: block;
}
form.signin p, form.signin span {
    color: #9cb23b;
    font-size: 13px;
    line-height: 18px;
    font-family: "avantgardemediumbt", sans-serif;
    font-weight: normal;
    text-align: left;
}
form.signin .textbox input {
color: #323233  !important;
    font: normal 14px "avantgardemediumbt", sans-serif;
    width: 100% !important;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #000;
    background: none !important;
    background-color: transparent !important;
    padding: 10px 10px !important;
    margin-bottom: 20px;
}
form.signin input:-moz-placeholder {
    color: #323233 ;
    text-transform: uppercase;
}
#error-msg{
	padding:0px 10px;
}
div#login-bottom1 {
    margin: 20px 0px 10px;
}
button.submit {
    display: inline;
    background: #9cb23b;
    color: #fff;
    min-width: 120px;
    float: left;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

#login-bottom1 #signup-lnk{
color: #444444;
    text-align: left;
    margin: 20px 0px 0px;
    float: left;
    font-family: "avantgardemediumbt", sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.1em;
}
/*.button {
    
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
     width: 30px; border:none; background:url(../images/submit-arrow.png);height:20px;
	background-repeat:no-repeat;
}
.button:hover {
    background: url(../images/submit-hover.png) no-repeat; height:20px;
}*/
.login-txt {
	background: url("../images/box-minus-black.PNG") no-repeat scroll 0 0 transparent;
    color: #98CB00 !important;
    display: block;
    font: 170%/30px "Avant_Garde_Gothic_Demibold",arial,sans-serif;
    height: 40px;
    margin: 2px;
    padding: 4px 0 0 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 373px;
    cursor: pointer;
}

.login-txt:hover{ background:url(../images/box-minus-black-hover.PNG) no-repeat;}

/*------------New----------------*/
.box-header {
	/*background: url("../images/box-minus-black.PNG") no-repeat scroll 0 0 transparent !important;*/
	}
.box-header :hover{
	/*background:url(../images/box-minus-black-hover.PNG) no-repeat !important;*/
	}
/*------------// new----------------*/

.textbox p {
 padding-left: 22px;
    padding-top: 9px;
}
.forgot {
color: #393d48 !important;
    font-weight: normal !important;
    text-decoration: none;
    text-transform: uppercase !important;
    font-family: "avantgardemediumbt", sans-serif !important;
    display: block;
    font-size: 12px;
}
.remember{
	  color: #FFFFFF;
    float: left;
    font-size: 19px;
    font-weight: normal;
    position: relative;
    top: 3px;
    width: 330px;
	}
.remember input{ background:none !important; border:none !important}

.check-txt{ font-family: "Arial Bold",sans-serif;  float: right;}
div#login-bottom2 .check-txt {
margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
    font-family: "avantgardemediumbt", sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;
}
div#login-bottom2 span{
    width: 127px !important;
}
div#login-bottom2 input {
    width: 15% !important;
    float: left;
    height: 18px;
    padding: 7px 5px !important;
}
div#login-bottom2 input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  border: 1px solid #000;
}

div#login-bottom2 input[type="checkbox"]:checked {
  background: #9cb23b !Important;
}

div#login-bottom2 input[type="checkbox"]:after {
  content: '' !Important;
  position: relative !Important;
  left: 40% !Important;
  top: 20% !Important;
  width: 15% !Important;
  height: 40% !Important;
  border: solid #fff !Important;
  border-width: 0 2px 2px 0 !Important;
  transform: rotate(45deg) !Important;
  display: none !Important;
}
/*****************Enter site sub menu*****************/

.submenubg {
	background: url("../images/opacity.png") repeat scroll 0 0 transparent;
 clear: left;
    height: 100%;
    padding-left: 4px;
    padding-top: 10px;
    width: 398px;
}
.submenu {
	float:left;
	clear:left;
	font-size:11px;   
	margin: 0 0px;
    padding: 0;
}
.submenu li {
	list-style:none;
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
}
.submenu a{
	border-bottom: 1px solid #000;
}
.submenu li a:after{
	content: '+';
    color: #323233;
    text-align: right;
    display: inline;
    float: right;
    margin-right: 10px;
}
.submenu a, .submenu a:visited {
	/*background: url("../images/submenu-plus.PNG") no-repeat scroll 0 0 transparent;*/
    color: #323233 !important;
    display: block;
    font: 500 13px/17px "avantgardemediumbt",sans-serif;
    /* height: 25px; */
    margin: 5px 0px;
    padding: 5px 0px;
    text-transform: uppercase;
    /* width: 362px; */
    text-align: left;
}

.submenu a:hover, .submenu a:active, .submenu li.current_page_item a, .submenu li.current_page_item a:visited {
	/*background:url(../images/submenu-plus-hover.PNG) no-repeat;*/
	text-decoration:none; color:#526402  !important;
}
.par-txt{
   color: #323233;
    font-family: "avantgardemediumbt",sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0 0;
    text-align: left;
    clear: both;
    line-height: 18px;
}
form.signin {
    clear: both;
}
#enter-box {
    margin: 0 auto;
    width: 100%;
overflow: hidden;
}
.enter-txt{
   background: url("../images/box-minus-black.PNG") no-repeat scroll 0 0 transparent;
    color: #98CB00 !important;
    display: block;
    font: 170%/30px "Avant_Garde_Gothic_Demibold",arial,sans-serif;
    height: 40px;
    margin: 2px;
    padding: 4px 0 0 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 373px;
    cursor: pointer;
}
.enter-txt:hover{ background:url(../images/box-minus-black-hover.PNG) no-repeat;}

.submenu li:last-child{ margin-bottom:6px !important;}

/*****************Enter site sub menu*****************/

#signup-box {
    margin: 0 auto;
    width: 100%;
	 overflow: hidden;
}
.signup-txt{
	background: url("../images/box-minus-black.PNG") no-repeat scroll 0 0 transparent;
    color: #98CB00 !important;
    display: block;
    font: 170%/30px "Avant_Garde_Gothic_Demibold",arial,sans-serif;
    height: 40px;
    margin: 2px;
    padding: 4px 0 0 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 373px;
    cursor: pointer;
}
.signup-txt:hover{ background:url(../images/box-minus-black-hover.PNG) no-repeat;}

/*****************Demo video*****************/

.video-container{
    background-color: transparent;
    bottom: 98px;
    display: none;
    height: 555px;
    margin-left: 9px;
    padding: 10px;
    position: relative;
    width: 100%;
}

#demo-box .btn_close {
float: right;
    height: 22px;
    position: relative;
    right: 10%;
    width: 22px;
    cursor: pointer;
    background: #9cb23b;
    z-index: 9999;
}
#demo-box .btn_close:hover{/* background:url(../images/cross-btn-hover.PNG) no-repeat; height:22px;*/ }
div#btn_close_video:after {
    content: 'X';
    color: #fff;
}
#sampleMovie{ height: 532px; }

#footer {
	clear:both;
	width:100%;
	/*height:40px;
	background-image:url(../../images/footer.jpg);*/
	background: #c7c7c7;
	position: absolute;
	bottom: 0;
}

#footer a {
color: #8c8c8c;
    font-size: 12px;
    font-weight: normal;
	padding:0 10px 0 10px;
	line-height:40px;
	background-color:transparent;
	font-family:"avantgardemediumbt", sans-serif;
	text-decoration:none;
}

#footer a.first {
	border-left:none;
}
	

#footer a:hover {
	color:#8DA92E;
	text-transform:none;
}

#footer span.copyright
{
	float:right;
	padding:13px 40px;
	font-weight:bolder;
color: #8c8c8c;
    font-weight: normal;
    font-size: 13px;
}

#copyright {
	color:#999;
	text-align:center;
	font-family: "avantgardemediumbt", sans-serif;
}
@media(min-width 320px) and (max-width: 767px){
.sidebar-menu, .menubg, #login-box, #enter-box, #signup-box, #sidemenu-fixed{
  width: 100% !important;
}
}
.homeDefault-socail {text-align: right;margin: 30px 0px;clear: both;position: absolute;bottom: 0;right: 0;}
.homeDefault-socail #links
{
    display: inline-block;
    margin-right: 5px;
    vertical-align: super;
    position: relative;
    top: -5px;
}

.homeDefault-socail #links img
{
	display:inline-block;
}

.homeDefault-socail #links a
{
padding: 0px 10px;
    font-size: 25px;
    color: #fff;
    border: none;
}

.homeDefault-socail #links a:hover{
 color: #fff;
}

#enter-city, #signup-city, #login-box{
	width: 100%;
}
div#login-bottom1 button:hover {
    background: #809230;
}
#enter-city, #signup-city, #login-box{
	width: 100%;
}
div#login-bottom1 button:hover {
    background: #809230;
}
div#enter-box p,div#signup-box p, #login-box p {
    padding: 0px 20px;
}

ul#enter-city, div#signup-box ul, #login-box form {
    padding: 0px 20px 20px;
}
p#login-bottom3 {
    padding: 10px 0px 0px !important;
    text-align: right;
}
form.signin fieldset {
    padding-right: 15px;
}

