<Server port="@SERVER_PORT@" shutdown="SHUTDOWN">

  <GlobalNamingResources>
    <!-- Used by Manager webapp -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Connector address="@LISTEN_ADDRESS@" port="@HOST_PORT@" />

    <Engine name="Catalina" defaultHost="@HOSTNAME@">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase" />
      <Host name="@HOSTNAME@" appBase="webapps" />
    </Engine>
    
  </Service>
</Server>
